$sprite: 100px;

.square {
  float: left;
  height: $sprite;
  width: $sprite;
  position:relative;

  &.black {
    background: rgb(75, 117, 116);
  }

  &.white {
    background: #fff;
  }
}

.board {
  border: 1px solid;
  float: left;
}

$white: 0px;

.piece {
    background: url('./images/Chess_Pieces_Sprite.svg.png');
    position: absolute;
    background-size: 600px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.white-king {
      background-position: 0px 0px;
    }

    &.white-queen {
      background-position: -$sprite 0px;
    }

    &.white-bishop {
      background-position: calc(2 * -#{$sprite}) 0px;
    }

    &.white-tower {
      background-position: calc(4 * -#{$sprite}) 0px;
    }

    &.white-horse {
      background-position: calc(3 * -#{$sprite}) 0px;
    }

    &.white-pawn {
      background-position: calc(5 * -#{$sprite}) 0px;
    }

    &.black-king {
      background-position: 0px $sprite;
    }

    &.black-queen {
      background-position: -$sprite $sprite;
    }

    &.black-bishop {
      background-position: calc(4 * #{$sprite}) $sprite;
    }

    &.black-horse {
      background-position: calc(3 * #{$sprite}) $sprite;
    }

    &.black-tower {
      background-position: calc(2 * #{$sprite}) $sprite;
    }

    &.black-pawn {
      background-position: calc(1 * #{$sprite}) $sprite;
    }

    // &.black-tower {

    // }
}